* {
  outline: none;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  background-color: #D1E8E2;
  color: #116466;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

div,
p,
input,
button,
form,
span,
a,
ul,
li {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

p {
  line-height: 1.65em;
}

.container {
  width: 1170px;
  margin: 0px auto;
}

.image-header{
    display: block;
    height: 220px;
    background-image: url(../img/desktop.png);
    background-repeat: repeat-x;
    background-position: center bottom;
}

a {
  color: #116466;
}
a:hover {
  color: white; /* Цвет ссылки при наведении на нее курсора мыши */  
}
.header-menu {
  padding-top: 2%;
  padding-bottom: 2%;
}

.logo {
  box-sizing: border-box;
}

.menu {
  float: right;
}
.menu ul li {
  display: inline-block;
  margin-right: 30px;
  font-size: 16;
}

ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}

.wrapper {
  padding-top: 110px;
  padding-bottom: 0px;    
}
.title {
  font-size: 70px;
  text-align: center;
}
.title span {
  color: #ffffff;
}
.intro {
  width: 380px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.position {
   margin-left: 300px;
}
.btn {
  background: #D1E8E2;
  color: #116466;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 24px;
  box-shadow: 0 5px  8px  #11656680;	
  border-radius: 100px;
  display: block;
  width: 250px;
  text-align: center; 
  object-position: center;
  padding: 15px 0;
  transition: all 0.5s ease;
}
.btn:hover {
  background: #116466 ;
  color:#D1E8E2;
}




.expectation {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-title {
  font-size: 44px;
  text-align: center;
}

.benefits-first {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  align-items: center;
}

.benefit {
  width: 300px;
  background: url("../img/icon1.png") no-repeat;
  text-align: center;
  padding-top: 30px;
  background-position: top;
}

.benefit-title {
  font-size: 24px;
  margin-top: 225px;
}

.benefit-text {
  margin-top: 7px;
}

.benefit-efficiency {
  width: 300px;
  background: url("../img/icon2.png") no-repeat;
  text-align: center;
  padding-top: 30px;
  background-position: top;
}

.benefit-topicality {
  width: 300px;
  background: url("../img/icon3.png") no-repeat;
  text-align: center;
  padding-top: 30px;
  background-position: top;
}

.benefits-second {
  margin-left: 218px;
  width: 660px;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  align-items: center;
}

.benefit-accessibility {
  width: 300px;
  background: url("../img/icon4.png") no-repeat;
  text-align: center;
  padding-top: 30px;
  background-position: top;
}

.benefit-time {
  width: 300px;
  background: url("../img/icon5.png") no-repeat;
  text-align: center;
  padding-top: 30px;
  background-position: top;
}



.order {
  background: #ecf3f8;
  padding-top: 100px;
  padding-bottom: 100px;
}

.form {
  margin-top: 60px;
}

.input {
  display: block;
  width: 340px;
  border: 1px solid #bfb8d1;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  border-radius: 5px;
  height: 48px;
  padding-left: 24px;
  margin: 0 auto 15px;
}



.footer {
  margin-top: 80px;
  padding: 20px;
  background: #116466;
}
.credits {
  color: #ffffff;
  font-size: 15px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.foot-menu {
    float: right;
  }
  .foot-menu ul li {
    display: inline-block;
    margin-right: 30px;
    font-size: 16;
  }
  
  ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
  }

.foot-menu a {
  color: #ffffff;
}
